@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.tab {
    display: flex;
    user-select: none;
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 2rem;

    $l-height: 1.3;
    $rowW: 1.3rem;

    .tunings {
        display: flex;
        flex-direction: column;
        font-weight: 900;
        line-height: $l-height;
        width: $rowW;
    }

    .tab-column {
        display: flex;
        flex-direction: column;
        line-height: $l-height;
        width: $rowW;

        div {
            height: $rowW;
            font-size: calc($rowW * 0.8);
            text-align: center;
            font-weight: 600;
        }

        &.selected {
            background-color: cadetblue;
        }
    }
}