@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.tab {
	display: flex;
    flex-direction: column;
	user-select: none;
	padding: 2rem;
    font-family: 'Nanum Gothic Coding', monospace;
    
    $note-width: 8px;
    $note-height: 12px;
    $note-font-size: 12px;
    
    &-line {
        display: flex;
        margin: .5rem 0;
        
        .tunings {
            display: flex;
            flex-direction: column;
            font-weight: 900;
            width: $note-width;
            margin-right: 8px;
            letter-spacing: 2px;
    
            div {
                height: $note-height;
                font-size: $note-font-size;
                text-align: center;
                font-weight: 600;
            }
        }

        .columns {
            display: flex;

            &:nth-child(odd) {
                // background-color: rgb(243, 243, 243);
            }

            &:hover {
                background-color: rgb(156, 156, 156);
            }

            &.selected {
                background-color: black;
                color: white;
            }

            .tab-column {
                display: flex;
                flex-direction: column;
                width: $note-width;
                cursor: pointer;
        
                .note {
                    height: $note-height;
                    font-size: $note-font-size;
                    text-align: center;
                    font-weight: 400;
                }
            }
        }
    
        
    }

}
