.fretboard-wrapper {
	$fret-width: 2.75rem;
    $fret-height: 1.5rem;

	.fretboard {
		position: fixed;
		bottom: 0%;
		border-radius: 10px;
		background-color: rgb(204 226 245);
		padding: 1rem;
		margin: 1rem;
		overflow-x: auto;

		.fretboard-labels {
			display: flex;

			.first {
				width: 3.25rem;
			}

			span {
				text-align: center;
				font-weight: 600;
				min-width: $fret-width;
			}
		}

		.fretboard-string {
			display: flex;
            height: $fret-height;

			.fretboard-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				background-color: transparent;
                border-left: 2px black solid;
				min-width: $fret-width;
				min-height: $fret-height;
				user-select: none;
				cursor: pointer;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #333;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #333;
                }

				&:hover {
					background-color: #b2cfe9;
				}
			}
		}
	}
}
