.controller-wrapper {

}

.controller {
    display: flex;
    gap: .25rem;
    min-width: fit-content;
    width: 100%;
    border: 1px #475569 solid;
    background-color: #475569;
    padding: .25rem;
    margin-top: 1rem;
    align-self: flex-end;

    .control-button {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #334155;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        user-select: none;
        cursor: pointer;

        svg {
            width: 18px;
            height: 18px;
        }

        &:hover {
            background-color: #475569;
        }
    }
}