.controller {
    display: flex;
    gap: .5rem;
    padding: 1rem;

    .control-button {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 2.25rem;
        height: 2.25rem;
        background-color: #334155;
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: #475569;
        }
    }
}